button {
  position: relative;
  overflow: hidden;
}

button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #616161;
  opacity: 0;
  transition: opacity 0.2s ease;
}

button:hover::before {
  opacity: 0.1;
}

button.rounded::before {
  border-radius: 50%;
}

/* Hover and active background */
.button-base {
  @apply w-60 justify-start;
}

.button-hover {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.button-hover:hover {
  background-color: #f6f6f6;
}

.button-active {
  background-color: #d3d3d3;
}

.button-inbox-active {
  background-color: #e0f2fe;
}

.button-clock-active {
  background-color: #fff7ed;
}
/* scroll format */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.3s;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
}

::-webkit-scrollbar-track {
  background: transparent;
}
